{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <h1>Change Password</h1><br/>
    <form action="/passchange" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old password" type="password"/>
        </div>
        <br/>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New password" type="password"/>
        </div>
        <br/>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password"/>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
